<div class="partners">
  <div class="wrap">
    <p class="partners-label">Emmanuel Christian School is a member of</p>
    <div class="partners-row">
      <a href="https://www.isaschools.org.uk/" target="_blank" rel="noopener" title="Independent Schools Association"><img src="/assets/img/logo-isa.png" alt="Independent Schools Association"></a>
      <a href="https://www.christianschoolstrust.org.uk/" target="_blank" rel="noopener" title="Christian Schools' Trust"><img src="/assets/img/logo-cst.png" alt="Christian Schools' Trust"></a>
      <img src="/assets/img/logo-lcet.png" alt="Leicestershire Christian Education Trust">
      <img src="/assets/img/logo-aqa.png" alt="AQA">
      <img src="/assets/img/logo-eduqas.png" alt="Eduqas, part of WJEC">
    </div>
    <p class="partners-note">Our GCSE courses are examined with AQA and Eduqas.</p>
  </div>
</div>
